{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block title %}
  Sign In
{% endblock title %}
{% block content %}
  <div class="border border-dark rounded bg-dark container col-md-8 text-warning">
    <h3>Sign In</h3>
    <form method="post" class="form-group mt-3">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-sm btn-outline-warning mt-2" type="submit">Sign In</button>
    </form>
    <p class="border-top border-warning mt-3">
      <a class='nav-link' href="{{ signup_url }}">Don't have an account? Sign up</a>
      <a class='nav-link' href="{% url 'account_reset_password' %}">Forgotten your password?</a>
    </p>
  </div>
{% endblock content %}