{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block title %}
  Password Reset
{% endblock title %}
{% block content %}
<div class="border border-warning rounded bg-warning text-secondary col-md-8 container">
  <h3>Password Reset</h3>
  <p>
    Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-sm btn-outline-secondary mt-2" type="submit">Reset My Password</button>
  </form>
 <p class="border-top border-secondary mt-3"> 
  Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock content %}