{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block title %}
  Change Password
{% endblock title %}
{% block content %}
  <div class="border border-warning rounded bg-warning container col-md-8 text-secondary">
    <h3>Change Password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-sm btn-outline-secondary mt-2" type="submit">Change Password</button>
    </form>
    <p class="border-top border-secondary mt-3">
      <a class='nav-link' href="{% url 'account_reset_password' %}">Forgotten your password?</a>
    </p>
  </div>
{% endblock content %}