{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block title %}
  Sign Up
{% endblock title %}
{% block content %}
<div class="border border-dark bg-dark rounded container col-md-8 text-warning">
  <h3>Create Account</h3>
  <form method="post" class="mt-3">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-sm btn-outline-warning mt-2" type="submit">Sign Up</button>
  </form>
  <p class="border-top border-warning mt-3">
    <a class='nav-link' href="{{ login_url }}">Already have an account? Sign in</a>
</div>
{% endblock content %}