{% extends "base.html" %}
{% block title %}
	Posts | List
{% endblock title %}
{% block content %}
	<div class="row">
		{% for post in post_list %}
			<div class="col-md-6">
				<div class="card mb-3 bg-dark text-warning">
					<div class="card-body">
						<h5 class="card-title">{{ post.title }}</h5>
						<p class="card-text">{{ post.body }}</p>
						<p class="card-text"><small class="text-muted">{{ post.author }}</small></p>
						<p class="card-text"><small class="text-muted">{{ post.created }}</small></p>
						<a class="btn btn-sm btn-outline-info" href="{% url 'post-detail' post.pk %}">Read More</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}